.about {
	margin: 0 auto;
	@include flex (column, 3.75rem, flex-start, center);
	padding: 5rem 0rem;
	font-family: var(--lora);

	&.js-scroll-animation {
		.about__heading  {
			opacity: 1;
		}

		.about__content {
			.about__image-container {
				opacity: 1;
			}

			.about__info {
				opacity: 1;
				transform: translateY(0rem);
			}
		}
	}

	&__heading {
		font-weight: var(--middle);
		text-align: center;

		@include scrolling-animation {
			opacity: 0;
			transition: opacity 2s ease-out, transform 2s ease-out;
		}
	}

	&__content {
		@include flex (row, 2.5rem, flex-start, center);
		font-family: omega;

		@include small {
			flex-direction: column;
		}
	}

	&__image-container {
		flex-basis: 45%;
		width: 100%;

		@include scrolling-animation {
			opacity: 0;
			transition: opacity 2s ease-out, transform 2s ease-out;
		}
	}

	&__image {
		width: 100%;
	}


	&__info {
		@include flex (column, 1.25rem, flex-start, flex-start);
		flex-basis: 55%;

		@include scrolling-animation {
			opacity: 0;
			transform: translateY(9.375rem);
			transition: opacity 1s ease-out, transform 1s ease-out;
		}
	}

	&__subtitle {
		text-transform: uppercase;
		font-size: 0.75em;
		color: var(--color-base-invert);
		font-weight: var(--small);

		@include small {
			margin-bottom: 10px;
		}
	}

	&__paragraph {
		font-size: 1.125em;
		font-weight: var(--middle);
	}

	&__link {
		border-bottom: 2px solid var(--color-base-invert-darker);
		margin-top: 10px;

		span {
			display: inline-block;
			position: relative;
			padding-bottom: 3px;
			font-size: 1.125em;
			font-weight: var(--semi-bold);
			cursor: pointer;
			letter-spacing: 1px;

		}
	}
}
