.about-section {
	width: 100%;


	.about-container {
		max-width: var(--max-width);
		width: 75%;
		margin: 0 auto;
		@include flex (column, 60px, flex-start, center);
		padding: 80px 0px;
		font-family: var(--lora);

		@media only screen and (max-width: 1300px) {
			width: 80%;
		}

		@include tablet {
			width: 90%;
		}

		@include big-mobile {
			width: 95%;
		}

		&.active {
			.about-container-title  {
				opacity: 1;
			}

			.about-content {
				.about-image-container {
					opacity: 1;
				}

				.about-content-info {
					opacity: 1;
					transform: translateY(0px);
				}
			}
		}

		.about-container-title {
			width: 70%;
			font-weight: var(--middle);
			text-align: center;

			@include scrolling-animation {
				opacity: 0;
				transition: all 2s ease-out;
			}

		}

		.about-content {
			@include flex (row, 40px, flex-start, center);
			font-family: omega;

			@include small-tablet {
				flex-direction: column;
			}

			.about-image-container {
				flex-basis: 45%;
				width: 100%;

				@include scrolling-animation {
					opacity: 0;
					transition: all 2s ease-out;
				}

				.about-image {
					width: 100%;
				}
			}

			.about-content-info {
				@include flex (column, 20px, flex-start, flex-start);
				flex-basis: 55%;

				@include scrolling-animation {
					opacity: 0;
					transform: translateY(150px);
					transition: all 1s ease-out;
				}

				.about-subtitle {
					text-transform: uppercase;
					font-size: 0.65em;
					color: var(--about-subtitle);
					font-weight: var(--small);

					@include small-tablet {
						margin-bottom: 10px;
					}
				}

				.about-content-paragraph {
					font-size: 1.1em;
					font-weight: var(--middle);
					text-align: start;
				}

				.about-join-link {
					border-bottom: 2px solid var(--about-link);
					margin-top: 10px;

					span {
						display: inline-block;
						position: relative;
						padding-bottom: 3px;
						font-size: 1.25em;
						font-weight: var(--semi-bold);
						cursor: pointer;
						letter-spacing: 1px;

					}
				}
			}
		}
	}
}