.about-section {
	width: 100%;


	.about-container {
		margin: 0 auto;
		@include flex (column, 3.75rem, flex-start, center);
		padding: 5rem 0rem;
		font-family: var(--lora);

		&.active {
			.about-container-title  {
				opacity: 1;
			}

			.about-content {
				.about-image-container {
					opacity: 1;
				}

				.about-content-info {
					opacity: 1;
					transform: translateY(0rem);
				}
			}
		}

		.about-container-title {
			font-weight: var(--middle);
			text-align: center;

			@include scrolling-animation {
				opacity: 0;
				transition: opacity 2s ease-out, transform 2s ease-out;
			}

		}

		.about-content {
			@include flex (row, 2.5rem, flex-start, center);
			font-family: omega;

			@include small {
				flex-direction: column;
			}

			.about-image-container {
				flex-basis: 45%;
				width: 100%;

				@include scrolling-animation {
					opacity: 0;
					transition: opacity 2s ease-out, transform 2s ease-out;
				}

				.about-image {
					width: 100%;
				}
			}

			.about-content-info {
				@include flex (column, 1.25rem, flex-start, flex-start);
				flex-basis: 55%;

				@include scrolling-animation {
					opacity: 0;
					transform: translateY(9.375rem);
					transition: opacity 1s ease-out, transform 1s ease-out;
				}

				.about-subtitle {
					text-transform: uppercase;
					font-size: 0.75em;
					color: var(--about-subtitle);
					font-weight: var(--small);

					@include small {
						margin-bottom: 10px;
					}
				}

				.about-content-paragraph {
					font-size: 1.125em;
					font-weight: var(--middle);
					text-align: start;
				}

				.about-join-link {
					border-bottom: 2px solid var(--about-link);
					margin-top: 10px;

					span {
						display: inline-block;
						position: relative;
						padding-bottom: 3px;
						font-size: 1.125em;
						font-weight: var(--semi-bold);
						cursor: pointer;
						letter-spacing: 1px;

					}
				}
			}
		}
	}
}