.business {
	margin: 0 auto;
	@include flex (row, 4.375rem, flex-start, flex-start);
	font-family: var(--lora);
	padding: 5rem 0rem;

	@include small {
		@include flex (column, 3.75rem, flex-start, flex-start);
	}

	&.js-scroll-animation {
		.business__introduction {
			opacity: 1;
			transform: translateX(0rem);
		}

		.related {
			opacity: 1;
			transform: translateY(0rem);
		}
	}

	&__introduction {
		flex-basis: 45%;
		@include flex (column, 2.5rem, flex-start, flex-start);

		@include scrolling-animation {
			opacity: 0;
			transition: opacity 1s ease-out, transform 1s ease-out;
			transform: translateX(-9.375em);
		}

		@include small {
			flex-basis: unset;
		}
	}

	&__heading {
		font-weight: var(--small);
	}

	&__paragraph {
		max-width: 90%;
		font-size: 1.125em;
		font-weight: var(--middle);
		text-align: start;
		line-height: 1.3;
	}

	.related {
		flex-basis: 55%;
		@include flex (column, 2.5rem, flex-start, flex-start);
		padding-left: 1.25rem;

		@include scrolling-animation {
			opacity: 0;
			transition: opacity 1s ease-out, transform 1s ease-out;
			transform: translateY(9.375em);
		}

		@include small {
			flex-basis: 100%;
			gap: 1.875rem;
			padding-left: 0px;
		}

		&__heading {
			font-size: 1.125em;
			font-weight: var(--middle);
		}

		&__content {
			@include flex (column, 1.875rem, flex-start, flex-start);
		}

		&__category {
			@include flex (column,  0.625rem, flex-start, flex-start);
		}

		&__title {
			font-size: 0.75em;
			font-weight: var(--semi-bold);
			text-transform: uppercase;
			font-family: var(--lexend);
		}

		&__resource {
			@include flex (row, 0.625rem, flex-start, flex-start);
			flex-wrap: wrap;
		}
	}
}
