.introduction {
	margin-top: 10em;

	@include tablet {
		margin-top: 8em;
	}

	&__container {
		margin: 10rem auto 3.125rem auto;
		@include grid (0.7fr 1fr, unset, 1.25rem, center, flex-start);
		position: relative;
		font-family: var(--lexend);

		@include tablet {
			margin: 7rem auto;
		}

		@include small {
			grid-template-columns: unset;
			grid-template-rows: 0.6fr 1.5fr;
			gap: 2.5rem;
			margin: 1.25rem auto 0rem auto;
		}
	}

	.js-custom-scroll-animation {
		.introduction__text {
			transform: translateX(0rem);
			opacity: 1;
		}

		.introduction__picture {
			transform: translateY(0rem);
			opacity: 1;
		}
	}

	&__text {
		@include flex (column, 1.25rem, center, flex-start);
		height: 100%;
		padding: 0.625rem;

		@include scrolling-animation {
			opacity: 0;
			transform: translateX(-9.375em);
			transition: opacity 0.6s ease-out, transform 0.6s ease-out;
		}


		@include small {
			justify-content: flex-start;
			height: unset;
		}
	}

	&__subtitle {
		color: #585858;	
		text-transform: uppercase;
		font-weight: var(--middle);	
		font-size: 0.75em;
	}

	&__heading {
		font-family: omega;
		font-weight: var(--middle);	
	}

	&__paragraph {
		color: var(--link);
		line-height: 1.6;
		font-size: 0.875em;
	}

	&__link {
		border-bottom: 1px solid var(--link-border);
		display: inline-block;
		position: relative;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 0.75em;
	}

	&__picture {
		@include grid (1.3fr 0.6fr 0.8fr, 0.5fr 3fr, 0px, unset, unset);
		height: 100%;

		@include scrolling-animation {
			opacity: 0;
			transform: translateY(9.375em);
			transition: opacity 0.6s ease-out, transform 0.6s ease-out;
		}
	}

	&__photo-container {
		grid-row: 1/3;
		grid-column: 1/3;

		@include small {
			grid-column: 1/4;
		}
	}

	&__photo {
		height: 34em;
		margin-bottom: -6.25rem;

		@include large {
			height: 45em;
		}

		@include small {
			margin-bottom: 0px;
			max-width: 100%; 
			height: unset;
		}
	}

	&__frame {
		grid-row: 2/3;
		grid-column: 2/4;
		padding: 1.875rem 1.25rem;
		border: 5px solid var(--primary);
		@include flex (column, 2.1875rem, space-between, center);
		font-family: var(--lora);

		@include small {
			background-color: var(--image-cover);
			color: var(--secondary);
			grid-row: 1/4;
			grid-column: 1/4;
			justify-content: space-between;
		}
	}

	&__title {
		font-size: 0.75em;
		font-style: italic;
		font-weight: var(--middle);
		text-transform: uppercase;
	}

	&__quote { 
		text-align: center; 
		font-size: 0.875em;
		line-height: 1.3;
		font-weight: var(--middle);
		color: #3e3e3e;

		@include small {
			font-size: 1.125em;
			color: var(--secondary);
		}

		q {
			quotes: "“" "”" "‘" "’";

			&::before {
			    content: open-quote;
			}
			&::after {
			    content: close-quote;
			}
		}
	}

	&__logo-container {
		@include flex (column, 5px, center, center);
	}

	&__logo {
		width: 1.375rem;
		height: 1.375rem;
		margin-bottom: 8px;

		@include small {
			width: 1.875rem;
			height: 1.875rem;
		}
	}

	&__slogan {
		text-transform: uppercase;
		font-size: 0.75em;
		font-weight: var(--small);

		&.bold {
			font-weight: var(--bold);
		}
	}
}