.representation {
	margin: 0 auto;
	@include flex (column, 1.25rem, center, center);
	font-family: var(--lora);
	padding: 9.375rem 0rem 5rem 0rem;

	@include small {
		padding: 3.125rem 0rem;
		align-items: flex-start;
	}

	&.js-scroll-animation{
		.representation__heading {
			opacity: 1;
			transform: translateY(0rem);
		}

		.representation__subtitle {
			opacity: 1;
			transform: translateY(0rem);
		}

		.representation__grid {
			opacity: 1;
			transform: translateY(0rem);
		}
	}

	&__heading {
		font-weight: var(--small);

		@include scrolling-animation {
			transform: translateY(3.125rem);
			opacity: 0;
			transition: opacity 1s ease-out, transform 1s ease-out;
		}
	}

	&__subtitle {
		max-width: 60%;
		margin: 0 auto;
		font-weight: var(--semi-bold);
		font-size: 0.875em;
		color: var(--color-base);
		line-height: 1.5;
		text-align: center;
		margin-bottom: 2.5rem;

		@include scrolling-animation {
			opacity: 0;
			transition: opacity 1s ease-out, transform 1s ease-out;
			transform: translateY(3.125rem);
		}

		@include small {
			max-width: 90%;
			margin: unset;
			text-align: start;
		}

	}

	&__grid {
		@include grid (repeat(auto-fit, minmax(13rem, 1fr)), unset, 1.875rem, center, flex-start);
		max-width: 100%;

		@include scrolling-animation {
			transform: translateY(18.75rem);
			opacity: 0;
			transition: opacity 2s ease-out, transform 2s ease-out;
		}

		@include large {
			transition: opacity 1s ease-out, transform 1s ease-out;
		}
	}

	&__card {
		@include flex (column, 1.25rem, flex-start, center);
	}

	&__image-container {
		position: relative;
		width: 100%;
	}

	&__image {
		width: 100%;
		min-height: 21.25rem;
	}

	&__image-label {
		position: absolute;
		bottom: -1px;
		left: 0px;
		padding: 12px 12px 7px 12px;
		background-color: var(--color-secondary-near);
		@include flex (row, 0.625rem, center, flex-start);
	}

	&__label {
		font-size: 0.875em;
	}

	&__logo {
		width: 1.25rem;
		height: 1.25rem;
	}

	&__information {
		@include flex (column, 0.625rem, flex-start, flex-start);
	}

	&__name {
		letter-spacing: 1px;
		font-size: 1.125em;				
	}

	&__position {
		font-weight: var(--small);
		font-size: 0.875em;
		margin-bottom: 0.625rem;
	}

	&__bio {
		max-width: 90%;
		color: var(--color-base);
		font-weight: var(--semi-bold);
		font-size: 0.875em;
		margin-bottom: 0.625rem;

	}
}
