.representation-section {
	width: 100%;
	margin: 0 auto;


	.representation-container {
		max-width: var(--max-width);
		width: 75%;
		margin: 0 auto;
		@include flex (column, 20px, center, center);
		font-family: var(--lora);
		padding: 150px 0px 80px 0px;

		@media only screen and (max-width: 1300px) {
			width: 80%;
		}

		@include tablet {
			width: 90%;
		}

		@include small-tablet {
			padding: 50px 0px;
			align-items: flex-start;
		}

		@include big-mobile {
			width: 95%;
		}

		&.active {
			.representation-section-title {
				opacity: 1;
				transform: translateY(0px);
			}

			.representation-section-subtitle {
				opacity: 1;
				transform: translateY(0px);
			}

			.representatives-grid {
				opacity: 1;
				transform: translateY(0px);
			}
		}

		.representation-section-title {
			font-weight: var(--small);

			@include scrolling-animation {
				transform: translateY(50px);
				opacity: 0;
				transition: all 1s;
			}
		}

		.representation-section-subtitle {
			width: 50%;
			margin: 0 auto;
			font-weight: var(--semi-bold);
			font-size: 0.9em;
			color: var(--sub-title);
			line-height: 1.5;
			text-align: center;
			margin-bottom: 40px;

			@media only screen and (max-width: 1300px) {
				width: 60%;
			}

			@media only screen and (max-width: 1200px) {
				width: 70%;
			}

			@include scrolling-animation {
				opacity: 0;
				transition: all 1s ease-out;
				transform: translateY(50px);
			}

			@include small-tablet {
				width: 90%;
				margin: unset;
				text-align: start;
			}

		}

		.representatives-grid {
			@include grid (repeat(auto-fit, minmax(220px, 1fr)), unset, 30px, center, flex-start);
			width: 100%;

			@media only screen and (max-width: 1200px) {
				gap: 40px;
			}

			@include scrolling-animation {
				transform: translateY(300px);
				opacity: 0;
				transition: all 2s ease-out;
			}

			@include monitor {
				transition: all 1s ease-out;
			}

			.representative-card {
				@include flex (column, 20px, flex-start, center);

				.representative-image-container {
					position: relative;
					width: 100%;

					.representative-image {
						max-width: 100%;
						width: 100%;
						min-height: 340px;
					}

					.representative-image-label {
						position: absolute;
						bottom: -1px;
						left: 0px;
						padding: 12px 12px 7px 12px;
						background-color: var(--secondary);
						@include flex (row, 10px, center, flex-start);

						.representative-logo {
							width: 20px;
							height: 20px;
						}

						span {
							font-style: italic;
							font-weight: var(--small);
							font-size: 0.85em;
						}
					}
				}

				.representative-information {
					@include flex (column, 10px, flex-start, flex-start);

					.representative-name {
						letter-spacing: 1px;
						font-size: 1.1em;				
					}

					.representative-position {
						font-weight: var(--small);
						font-size: 0.8em;
						margin-bottom: 10px;
					}

					.representative-bio {
						width: 90%;
						color: var(--bio);
						font-weight: var(--middle);
						font-size: 0.85em;
						margin-bottom: 10px;

					}

					.read-feature-link {
						border-bottom: 1px solid var(--read-link);
						transition: all 0.2s ease-out;

						span {
							display: inline-block;
							position: relative;
							color: var(--read-link);
							font-size: 0.6em;
							font-weight: var(--middle);
							text-transform: uppercase;
							letter-spacing: 1px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}


}