.the-latest-section {
	width: 100%;


	.the-latest-container {
		max-width: var(--max-width);
		width: 75%;
		padding: 80px 0px;
		margin: 0 auto;
		@include flex (column, 40px, flex-start, flex-start);
		border-bottom: 2px solid var(--section-border);

		@media only screen and (max-width: 1300px) {
			width: 80%;
		}

		@include tablet {
			width: 90%;		
		}

		&.active {
			.the-latest-title {
				opacity: 1;
				transform: translateX(0px);
			}

			.the-latest-grid {
				opacity: 1;
			}
		}

		.the-latest-title {
			text-transform: capitalize;
			font-weight: var(--middle);


			@include scrolling-animation {
				opacity: 0;
				transform: translateX(-150px);
				transition: all 0.6s ease-out;
			}
		}

		.the-latest-grid {
			width: 100%;
			@include grid (1fr 1fr, unset, 80px, flex-start, center);

			@include scrolling-animation {
				opacity: 0;
				transition: all 2.5s ease-out;
			}

			@include big-mobile {
				grid-template-columns: 1fr;
			}

			.the-latest-card {
				@include flex (row, 20px, flex-start, center);

				@media only screen and (max-width: 900px) {
					flex-direction: column;
					align-items: flex-start;
				}

				@include big-mobile {
					flex-direction: row;
					align-items: center;
				}

				@include mobile {
					flex-direction: column;
				}



				.the-latest-image {
					width: 40%;

					@media only screen and (max-width: 900px) {
						width: 50%;
					}

					@include big-mobile {
						width: 40%;
					}
				}

				.card-info {
					@include flex (column, 15px, flex-start, flex-start);

					.the-latest-category {
						@include flex (row, 5px, flex-start, center);

						.the-latest-logo {
							width: 15px;
							height: 15px;
						}

						.the-latest-category-name {
							font-style: italic;
							font-size: 0.9em;
							font-weight: var(--small);
						}
					}

					.card-title {
						width: 90%;
						font-size: 1.1em;
						font-weight: var(--semi-bold);

						@include tablet {
							width: 100%;		
						}
					}

					.card-link {
						border-bottom: 1px solid var(--primary);

						span {
							display: inline-block;
							position: relative;
							font-size: 0.65em;
							font-weight: var(--small);
							text-transform: uppercase;
							letter-spacing: 1px;
							cursor: pointer;
						}
					}
				}
			}
		}

		.read-more-btn {
			width: 35%;
			align-self: center;
			padding: 15px 20px;
			margin-top: 30px;
			border: 1px solid #000;
			color: #000;
			background-color: transparent;
			font-size: 1.2em;
			font-weight: var(--semi-bold);
			box-shadow: 0px 5px 10px #d3cab8;

			@media only screen and (max-width: 900px) {
				width: 50%;
			}

			@include big-mobile {
				width: 70%;
			}

			span {
				cursor: pointer;
				display: inline-block;
				position: relative;
			}

			&:hover {
				box-shadow: 7px 7px 32px -3px #d3cab8;
			}

			&:active {
				box-shadow: 0px 4px 8px #d3cab8;
			}
		}
	}

}