.latest {
	padding: 5rem 0rem;
	margin: 0 auto;
	@include flex (column, 2.5rem, flex-start, flex-start);
	border-bottom: 2px solid var(--section-border);

	&.js-scroll-animation {
		.latest__heading {
			opacity: 1;
			transform: translateX(0rem);
		}

		.latest__grid {
			opacity: 1;
		}
	}

	&__heading {
		text-transform: capitalize;
		font-weight: var(--middle);


		@include scrolling-animation {
			opacity: 0;
			transform: translateX(-9.375rem);
			transition: opacity 0.6s ease-out, transform 0.6s ease-out;
		}
	}

	&__grid {
		flex-basis: 100%;
		@include grid (1fr 1fr, unset, 5rem, flex-start, center);

		@include scrolling-animation {
			opacity: 0;
			transition: all 2.5s ease-out;
		}

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	&__card {
		@include flex (row, 1.25rem, flex-start, center);

		@include tablet {
			flex-direction: column;
		}

		@include mobile {
			flex-direction: row;
			align-items: center;
		}

		@media only screen and (max-width: 450px) {
			flex-direction: column;
		}
	}

	&__image {
		flex-basis: 40%;
	}

	&__info {
		@include flex (column,  0.9375rem, flex-start, flex-start);
	}

	&__category {
		@include flex (row, 5px, flex-start, flex-start);
	}

	&__logo {
		width: 0.9375rem;
		height: 0.9375rem;
	}

	&__title {
		flex-basis: 100%;
		font-size: 1.125em;
		font-weight: var(--semi-bold);
	}

	&__link {
		border-bottom: 1px solid var(--primary);

		span {
			display: inline-block;
			position: relative;
			font-size: 0.75em;
			font-weight: var(--small);
			text-transform: uppercase;
			letter-spacing: 1px;
			cursor: pointer;
		}
	}
}