.page-footer {
	width: 100%;


	.footer-container {
		width: 75%;
		margin: 0 auto;
		@include flex (column, 40px, flex-start, center);
		padding: 80px 0px;
		font-family: var(--lexend);

		@media only screen and (max-width: 1300px) {
			width: 80%;
		}

		@include tablet {
			width: 90%;
		}

		@include big-mobile {
			width: 95%;
		}

		.main-footer-container {
			width: 100%;
			@include flex (row, 0px, space-between, flex-end);

			@include big-mobile {
				display: grid;
				justify-content: center;
				gap: 40px;
			}

			.contact-container {
				@include flex (column, 5px, flex-start, flex-start);

				@include big-mobile {
					grid-row: 1/2;
					align-items: center;
				}

				.contact-title {
					font-size: 14px;
					font-weight: var(--semi-bold);

					@include big-monitor {
						font-size: 18px;
					}

					@include monitor {
						font-size: 16px;
					}
				}

				.contact-info {
					font-size: 14px;
					font-weight: var(--middle);
					color: var(--footer-text);
				}
			}

			.footer-logo {
				@include flex (column, 15px, flex-start, center);

				@include big-mobile {
					grid-row: 3/4;
				}

				.footer-logo-image {
					width: 30px;
					height: 30px;
				}

				.footer-logo-text {
					font-size: 18px;
					font-weight: var(--bold);

					@include big-monitor {
						font-size: 22px;
					}

					@include monitor {
						font-size: 20px;
					}
				}
			}

			.social-media-container {
				@include flex (column, 10px, flex-start, center);

				.social-media-title {
					font-size: 14px;
					font-weight: var(--semi-bold);

					@include big-monitor {
						font-size: 18px;
					}

					@include monitor {
						font-size: 16px;
					}
				}

				.social-media-icons {
					width: 100%;
					@include flex (row, 10px, center, center);

					.social-media-icon-container {
						width: 2em;
						height: 2em;
						@include flex (row, 0px, center, center);
						border-radius: 50%;
						background-color: var(--social-bg);

						i {
							color: var(--social-icon);
						}
					}
				}
			}
		}

		.copyright-container {
			width: 80%;
			text-align: center;

			@include big-mobile {
				width: 95%;
			}

			.copyright {
				color: var(--footer-text);
				font-size: 10px;
				text-transform: uppercase;
				font-weight: var(--middle);

				@include big-monitor {
					font-size: 14px;
				}

				@include monitor {
					font-size: 12px;
				}
			}
		}
	}
}