.header {
	@include flex (column, 0rem, center, flex-start);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	font-family: var(--lexend);
	background-color: var(--primary-bg);
	transition: background-color 0.1s ease-out, color 0.1s ease-out;
	color: var(--primary);
	border-bottom: 1px solid var(--header-border);

	&.js-is-scroll {
		background-color: rgba(0, 0, 0, 0.8);
		color: var(--secondary);
		border-bottom: none;

		.desktop-header {
			padding: 1.25rem 0rem 1.875rem 0rem;
		}
	}

	&__container {
		width: 100%;
		@include flex (row, 0.625rem, space-between, flex-end);
		padding: 1.875rem 0rem;
		margin: 0 auto;
	}

	&__logo {
		@include flex (row, 2px, flex-start, flex-end);
	}

	&__slogan {
		font-weight: var(--bold);
		font-size: 1.75em;
	}

	&__mobile-icon {
		display: none;

		@include tablet {
			display: block;
		}

		&.js-is-hide {
			display: none;
		}

		.fa-bars {
			margin-bottom: 5px;
			font-size: 1.5em;
		}
	}

	&__search {
		@include flex (row, 0px, flex-end, center);
		width: 5%;
		margin-bottom: 5px;

		@include tablet {
			display: none;
		}
	}

	&__mobile-container {
		position: fixed;
		top: 0px;
		right: 0;
		height: var(--doc-height);
		width: 50%;
		background-color: rgba(0, 0, 0, 0.92);
		padding: 1.5625rem;
		z-index: 2;
		transition: width 0.3s ease-out;
		display: none;

		@include mobile {
			width: 100%;
		}


		&.js-is-show {
			display: block;
		}
	}

	&__mobile {
		@include flex (column, 3.125rem, flex-start, flex-start);
		height: 100%;
	}

	&__close-icon {
		display: block;
		align-self: end;
		color: var(--secondary);

		.fa-xmark {
			margin-bottom: 5px;
			font-size: 1.3em;
		}
	}

	&__mobile-search {
		@include flex (row, 0.9375rem, center, center);
		border-bottom: 1px solid var(--secondary);
		padding: 0.625rem;
		cursor: pointer;

		.fa-magnifying-glass {
			color: var(--secondary);
		}
	}

	&__mobile-input {
		border: none;
		outline: none;
		background-color: var(--primary-bg);
		color: var(--secondary);
	}
}
