$media-breakpoint-largest: 88rem;
$media-breakpoint-large: 92rem;
$media-breakpoint-medium: 75rem;
$media-breakpoint-small: 60rem;
$media-breakpoint-mobile: 52rem;
$breakpoint-mobile-navigation: 42rem;


h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}


.wrapper {

	max-width: var(--wrapper-max-width);
	margin-left: auto;
	margin-right: auto;

	// And here, we have an adaptive version:
	@media (max-width: #{$media-breakpoint-large}) {
		max-width: Min(var(--site-width-medium), var(--wrapper-max-width));
	}

	@media (max-width: #{$media-breakpoint-medium}) {
		max-width: Min(var(--site-width-small), var(--wrapper-max-width));
	}

	@media (max-width: #{$media-breakpoint-small}) {
		max-width: Min(var(--site-width-mobile), var(--wrapper-max-width));
	}

	@media (max-width: #{$media-breakpoint-mobile}) {
		max-width: calc(100% - 2rem);
	}
}

.nav-wrapper {
	max-width: calc(100% - 5rem);

	@media (min-width: #{$media-breakpoint-large}) {
		max-width: var(--site-width-large);
	}

	@media (max-width: #{$media-breakpoint-mobile}) {
		max-width: calc(100% - 2rem);
	}

}

.section__category--italic {
	font-style: italic;
	font-weight: var(--small);
	font-family: none;
}

.section__link {
	border-bottom: 1px solid var(--color-base-invert-darker);
	display: inline-block;
	position: relative;
	padding-bottom: 4px;
	color: var(--color-base-invert-darker);
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: var(--middle);
	letter-spacing: 1px;
}

.section__paragraph {
	max-width: 90%;
	text-align: start;
	line-height: 1.6;
}




