body { 
	width: 100%;
	height: var(--doc-height);
}

:root {
	// Colors
	--color-primary: #000;
	--color-primary-near: #343130;
	--color-primary-cover: rgba(0, 0, 0, 0.5);
	--color-secondary: #fff;
	--color-secondary-near: #f6f4f0;

	--color-separator-base: #f1f1f1 ;
	--color-separator-base-near: #e7e7e7;

	--color-base: #979797;
	--color-base-light: #b8b8b8;
	--color-base-lighter: #fefefe;
	--color-base-invert: #696969;
	--color-base-invert-near: #6a6a6a;
	--color-base-invert-darker: #0b0b0b;

	// Fonts
	--small: 400;
	--middle: 500;
	--semi-bold: 600;
	--bold: 700;

	--lexend: 'Lexend', sans-serif;
	--lora: 'Lora', serif;

	--font-size-h1: 2.75em;
	--font-size-h2: 2.5em;
	--font-size-h3: 2.25em;
	--font-size-h4: 2em;
	--font-size-h5: 1.875em;
	--font-size-h6: 1.75em;

	--site-width-large: #{$media-breakpoint-large - 8};
	--site-width-medium: #{$media-breakpoint-medium - 8};
	--site-width-small: #{$media-breakpoint-small - 5};
	--site-width-mobile: #{$media-breakpoint-mobile - 2};

	--wrapper-max-width: var(--site-width-large);
}