body { 
	width: 100%;
	height: var(--doc-height);
}

:root {
	// Colors
	--primary: #000;
	--secondary: #fff;

	--primary-bg: transparent;
	--secondary-bg: #f6f4f0;

	--section-border: #e7e7e7;
	--header-border: #f1f1f1;

	// Footer section
	--footer-text: #b8b8b8;
	--social-bg: #000;
	--social-icon: #fefefe;

	// About section
	--about-subtitle: #484642;
	--about-link: #c7c4c2;

	// Business resources section
	--related-resource: #202020;
	--related-resource-border: #c0c0c0;

	// Introduction section
	--image-cover: rgba(0, 0, 0, 0.5);
	--paragraph-text: #999999;
	--link: #979797;
	--link-border: #505050;

	// Featured Stories section
	--featured-paragraph: #969696;
	--other-stories-bio: #6a6a6a;

	// Representation section
	--sub-title: #979594;
	--bio: #83817e;
	--read-link: #343130;


	//Width 
	--max-width: 1152px;

	// Fonts
	--small: 400;
	--middle: 500;
	--semi-bold: 600;
	--bold: 700;

	--lexend: 'Lexend', sans-serif;
	--lora: 'Lora', serif;

	--font-size-h1: 2.75em;
	--font-size-h2: 2.5em;
	--font-size-h3: 2.25em;
	--font-size-h4: 2em;
	--font-size-h5: 1.875em;
	--font-size-h6: 1.75em;
}