$max-width: 1600px;

// Colors variables 

$alternative-text: #fff;
$section-border: #e7e7e7;

$header-border: #f1f1f1;

$alternative-color: #f6f4f0;

// Introduction section 
$image-cover: rgba(0, 0, 0, 0.5);
$paragraph-text: #999999;
$link: #979797;
$link-border: #505050;

// Representation section
$sub-title: #979594;
$bio: #83817e;
$read-link: #343130;

// Featured section 
$featured-paragraph: #969696;
$other-stories-bio: #6a6a6a;

// Business resources section
$related-resource: #202020;
$related-resource-border: #c0c0c0;

// About section
$about-link: #c7c4c2;
$about-subtitle: #484642;

// Footer section
$footer-text: #b8b8b8;
$social-bg: #000;
$social-icon: #fefefe;